# .envrc
# Automatically load Nix development shell when entering directory
# Install direnv: brew install direnv
# Then add to your shell: eval "$(direnv hook bash)" or eval "$(direnv hook zsh)"

use flake
